<div class="{{ button_css_classes }}">
  {% if add %}
  <button type="button" df-click="{{ click_actions }}" {% if auto_disable %} auto-disable{% endif %}
    class="btn btn-primary">Submit<span class="ms-2 dj-button-decorator"><i class="bi bi-send"></i></span></button>
    {% else %}
  <button type="button" df-click="{{ click_actions_update }}" {% if auto_disable %} auto-disable{% endif %}
    class="btn btn-primary">Update<span class="ms-2 dj-button-decorator"><i class="bi bi-send"></i></span></button>
  <button type="button" df-click="{{ click_actions_delete }}" {% if auto_disable %} auto-disable{% endif %}
    class="btn btn-primary">Delete<span class="ms-2 dj-button-decorator"><i class="bi bi-send"></i></span></button>

    {% endif %}
  <button type="button" df-click="reset" class="ms-2 btn btn-warning">Reset to initial<span
      class="ms-2 dj-button-decorator"><i class="bi bi-backspace"></i></span></button>
</div>

{% if add %}
<button type="button" df-click="submit({add: true}) -> proceed">Add</button>


{% endif %}