<div class="col-md-12">
  <div class="h-100 p-5 bg-light border rounded-3">
    <h2>Some stuff about bills for this contact</h2>
    <p>And will be posted to the ledger when the invoice is approved</p>
  </div>
</div>