<div class="row">
  <div class="col-12">
    <h2>{{ contact.name }}</h2>
    <p>{{ contact }}</p>

  </div>
  <div class="col-12">
    <h2>Address</h2>
    <p>{{ contact.address }}</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>Phone</h2>
    <p>{{ contact.phone }}</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>Email</h2>
    <p>{{ contact.email }}</p>
  </div>

</div>
<div class="row">
  <div class="col-6">
    <h2>is Supplier</h2>
    <p>{{ contact.is_supplier }}</p>
  </div>
  <div class="col-6">
    <h2>is Customer</h2>
    <p>{{ contact.is_customer }}</p>
  </div>

</div>

<div class="row">
  <div class="col-6">
    <h2>Company Number</h2>
    <p>{{ contact.company_number }}</p>

  </div>
</div>