        <!-- filter form -->
        <div class="col-3">
          <div class="card">
            <form method="get">
              <div>
                <label for="id_is_supplier">Is Supplier:</label>
                <input type="checkbox" name="is_supplier" id="id_is_supplier" {% if request.GET.is_supplier %}checked{%
                  endif %} value="true">
              </div>
              <div>
                <label for="id_is_customer">Is Customer:</label>
                <input type="checkbox" name="is_customer" id="id_is_customer" {% if request.GET.is_customer %}checked{%
                  endif %} value="true">
              </div>
              <button type="submit">Filter</button>
            </form>
          </div>
        </div>
        <!-- end filter form -->