{% extends 'gl/base.html.j2' %}

{% block title %}Accounting{% endblock %}

{% block sub_navbar %}
{% with section_title="Invoice Detail" %}
<!-- subnav bar block in invoice_detail -->
{% include 'gl/partials/invoices/invoice-detail-subnav.html.j2' %}
<!-- end of subnav bar block in invoice_detail -->
{% endwith %}
{% endblock %}


{% block main %}

<!-- Main Content -->
<div class="main-content-container">
  <div class="container main-content">
    <div class="row">
      <div class="col-12 col-md-11 mx-auto">
        <div class="card p-4">
          <div class="card-body">
            <!-- invoice header -->
            <div class="row border-primary">
              <div class="col-4">
                <h1>{{ invoice.invoice_number}}</h1>
              </div>
              <div class="col-8 text-end">
                {% include 'gl/partials/invoices/actions.html.j2' %}
              </div>
            </div>
            <!-- end row -->

            <!-- main content block in invoice_detail -->
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                  type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#tabbed-tab-2"
                  type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Ledger</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#tabbed-tab-3"
                  type="button" role="tab" aria-controls="pills-contact" aria-selected="false">History</button>
              </li>
            </ul>
            <div class="tab-content" id="tabbed-content">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="tabbed-tab-1">
                {% include 'gl/partials/invoices/detail-tab-1.html.j2' %}
              </div>
              <div class="tab-pane fade" id="tabbed-tab-2" role="tabpanel" aria-labelledby="pills-profile-tab">
                {% include 'gl/partials/invoices/detail-tab-2.html.j2' %}
              </div>
              <div class="tab-pane fade" id="tabbed-tab-3" role="tabpanel" aria-labelledby="pills-contact-tab">
                {% include 'gl/partials/invoices/detail-tab-3.html.j2' %}
              </div>
            </div>




            <!-- end of main content block in invoice_detail -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block scriptend %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Get all tab buttons
    const tabButtons = document.querySelectorAll('button.nav-link');

    console.log(tabButtons);

    // Check if there's a stored active tab
    const storedActiveTab = localStorage.getItem('activeTab');
    console.log(storedActiveTab);

    if (storedActiveTab) {
      // Remove active class from all tabs
      tabButtons.forEach(button => {
        button.classList.remove('active');
        button.setAttribute('aria-selected', 'false');
      });

      // Add active class to the stored active tab
      const activeButton = document.querySelector(storedActiveTab);
      if (activeButton) {
        activeButton.classList.add('active');
        activeButton.setAttribute('aria-selected', 'true');

        // Activate the corresponding tab content
        const tabContent = document.querySelector(activeButton.getAttribute('data-bs-target'));
        if (tabContent) {
          const tabContents = document.querySelectorAll('.tab-pane');
          tabContents.forEach(content => {
            content.classList.remove('show', 'active');
          });
          tabContent.classList.add('show', 'active');
        }
      }
    }

    // Add click event listeners to all tab buttons
    tabButtons.forEach(button => {
      button.addEventListener('click', function () {
        // Store the clicked tab's selector in localStorage
        localStorage.setItem('activeTab', `#${this.id}`);
      });
    });
  });
</script>

{% endblock %}