{% extends 'gl/base.html.j2' %}

{% block title %}Debug{% endblock %}

{% block sub_navbar %}

{% endblock %}


{% block main %}
<!-- Main Content -->
<div class="main-content-container">
  <div class="container main-content">
    <div class="col-12 col-md-11 mx-auto">
      <div class="row">

<p>{{ request.resolver_match.app_name }}</p>

<p>{{ request.resolver_match.instance_name }}</p>

      </div>

    </div>
  </div>
</div>
<!-- end main content -->
{% endblock %}
