{% extends 'gl/layouts/generic_detail.html.j2' %}

{% block sub_navbar %}
{% endblock %}

{% block main %}

<!-- Main Content -->
<div class="main-content-container">
  <div class="container main-content">
    <div class="row">
      <div class="col-12 col-md-11 mx-auto">
        <div class="card p-4">
          <div class="card-body">
            <!-- File Upload header -->
            <div class="row border-primary">
              <div class="col-4">
                <h1>{{ object.id }}</h1>
              </div>
              <div class="col-8 text-end">
                {{ object.name }}
              </div>
            </div>
            <!-- end row -->





            <!-- end of main content block in invoice_detail -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}