{% extends 'gl/base.html.j2' %}

{% block title %}Stocks{% endblock %}


{% block sub_navbar %}
{% with section_title="Overview"
%}
{% include 'gl/partials/sub_navbar.html.j2' %}
{% endwith %}
{% endblock %}

{% block main %}


<!-- Main Content -->
<div class="main-content-container">
  <div class="container main-content">
    <div class="row">
      <div class="col-12 col-md-11 mx-auto">
        <!-- Gridstack Container -->
        <div class="grid-stack">
          <!-- Card 1 -->
          <div class="grid-stack-item" gs-w="12" gs-x="0" gs-min-w="6" gs-h="2" gs-min-h="2">
            <div class="grid-stack-item-content card">
              <div class="card-header">
                <h5 class="card-title">Cash Flow</h5>
              </div>
              <div class="card-body">


                <div id="chart"></div>

              </div>
              {# <select id="timeRange" onchange="updateChart()">
                <option value="3">Last 3 Months</option>
                <option value="6">Last 6 Months</option>
                <option value="12" selected>Last 12 Months</option>
                <option value="all">All Time</option>
              </select> #}

            </div>
          </div><!-- Card 2 -->
          <div class="grid-stack-item" gs-w="6" gs-height="2" gs-min-w="6" gs-h="2" gs-min-h="2">
            <div class="grid-stack-item-content card p-3">
              <h5>Card 2</h5>
              <p>This is some text inside Card 2.</p>
            </div>
          </div>
          <!-- Card 3 -->
          <div class="grid-stack-item" gs-w="6" data-gs-height="2" gs-min-w="6" gs-h="2">
            <div class="grid-stack-item-content card p-3">
              <h5>Card 3</h5>
              <p>This is some text inside Card 3.</p>
            </div>
          </div><!-- Card 4 -->
          <div class="grid-stack-item" gs-w="6" gs-height="2" gs-min-w="6" gs-h="2">
            <div class="grid-stack-item-content card p-3">
              <h5>Card 2</h5>
              <p>This is some text inside Card 2.</p>
            </div>
          </div>
          <!-- Card 5 -->
          <div class="grid-stack-item" gs-w="6" data-gs-height="2" gs-min-w="6" gs-h="2">
            <div class="grid-stack-item-content card p-3">
              <h5>Card 3</h5>
              <p>This is some text inside Card 3.</p>
            </div>
          </div>
          <!-- Add more cards as needed -->
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scriptend %}


<!-- Initialize Gridstack -->
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    const grid = GridStack.init({
      column: 12,
      cellHeight: '11rem',
      minRow: 1,
      resizable: {
        handles: 'se'
      },
    });

  });
</script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts/dist/apexcharts.js"></script>

<script src="{{ static('gl/js/chart1.js') }}"></script>


{% endblock %}
