{% extends 'gl/base.html.j2' %}

{% block title %}Stocks{% endblock %}

{% block sub_navbar %}
    {% with section_title="Overview" %}
        {% include 'gl/partials/sub_navbar.html.j2' %}
    {% endwith %}
{% endblock %}

{% block prehead %}
    <meta name="book-id" content="{{ request.active_book.id }}">
    <meta name="csrfmiddlewaretoken" content="{{ csrf_token }}">
{% endblock %}

{% block main %}

    <!-- Main Content -->
    <div class="main-content-container">
        <div class="container main-content">
            <div class="row">
                <div class="col-12 col-md-11 mx-auto">
                    <!-- Gridstack Container -->
                    <div class="grid-stack">
                        {% include 'gl/home/card-chart.html.j2' %}
                        {% include 'gl/home/card-invoice.html.j2' %}
                        {% include 'gl/home/card-bank.html.j2' %}
                        {% include 'gl/home/card-bills.html.j2' %}
                        {% include 'gl/home/card-payroll.html.j2' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scriptend %}

    <!-- Initialize Gridstack -->
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const grid = GridStack.init({
                column: 12,
                cellHeight: '11rem',
                minRow: 1,
                resizable: {
                    handles: 'se'
                },
                handleClass: 'card-header',
            });

            //grid.setAnimation(false);

            // Load saved layout
            fetch(`/api/v1/user/layout__dashboard_layout_json/`)
                .then(response => response.json())
                .then(data => {
                    if (data && data.value) {
                        const layout = JSON.parse(data.value);
                        if (layout && Object.keys(layout).length > 0) {
                            grid.load(layout);
                            console.log('Grid loaded:', data);
                        }
                    }
                    console.log('Layout loaded:', data);
                })
                .catch(error => console.error('Error loading layout:', error));

            let saveTimeout;
            const saveLayout = () => {
                clearTimeout(saveTimeout);
                saveTimeout = setTimeout(() => {
                    const serializedData = grid.save(saveContent = false);
                    console.log('Saving layout:', serializedData);

                    fetch(`/api/v1/user/layout__dashboard_layout_json/`, {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCsrfToken(),
                        },
                        body: JSON.stringify({
                            value: JSON.stringify(serializedData)
                        })
                    })
                        .catch(error => console.error('Error saving layout:', error));
                }, 500);
            };
            //grid.on('change', saveLayout);
            grid.on('resizestop', saveLayout);
            grid.on('dragstop', saveLayout);

            // Helper function to get CSRF token
            function getCsrfToken() {
                return document.querySelector('meta[name=csrfmiddlewaretoken]').content;
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts/dist/apexcharts.js"></script>

    <script src="{{ static('gl/js/chart1.js') }}"></script>


{% endblock %}
