{% extends 'gl/base.html.j2' %}
{% block navbar %}

{% include 'gl/partials/navbar.html.j2' %}

{% endblock %}

{% block main %}
<!-- Main Content -->
<div class="main-content-container">
  <div class="container main-content">
    <div class="row">
      <div class="col-12 col-md-11 mx-auto">
        <div class="card p-4">
          <div class="card-body">
            <div class="flex flex-col items-center">
              <h1 class="text-4xl tracking-wide dark:text-white my-4">{{ _("Sign Out") }}</h1>

              <p class="mt-2">{{ _('Are you sure you want to sign out?') }}</p>

              <form method="post" action="{{ url('general_ledger:account_logout') }}">
                {% csrf_token %}

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <button
                  class="mt-6 bg-[#73B769] hover:bg-[#56964a] font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                  type="submit">
                  {{ _('Sign Out') }}
                </button>
              </form>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of Main Content -->
{% endblock %}