{% extends 'gl/base.html.j2' %}
{% block navbar %}

{% include 'gl/partials/navbar.html.j2' %}

{% endblock %}

{% block main %}
<!-- Main Content -->
<div class="main-content-container">
  <div class="container main-content">
    <div class="row">
      <div class="col-12 col-md-11 mx-auto">
        <div class="card p-4">
          <div class="card-body">

            <form action="" enctype="multipart/form-data" method="post">

              {% csrf_token %}
              <table>
                {{ form.as_table() }}
              </table>
              <button type="submit">SUBMIT</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of Main Content -->
{% endblock %}