{% extends 'gl/generic/generic_form.html.j2' %}

{% block title %}Bank Management{% endblock %}

{% block sub_navbar %}
{% with section_title="Bank Account create"
%}
{% include 'gl/partials/sub_navbar.html.j2' %}
{% endwith %}
{% endblock %}

