{% extends 'gl/generic/generic_list.html.j2' %}
{% from "gl/macros/subnav.html.j2" import render_subnav %}

{% block title %}Bank Stuff{% endblock %}

{% block sub_navbar %}

{{ render_subnav(
title="Bank Accounts",
menus=[{"header": "Bank Stuff", "items": [
{'url': url('general_ledger:bank-create'), 'text': 'Create Bank'},
{'url': url('general_ledger:invoice-create'), 'text': 'Invoice create'},
{'url': url('general_ledger:contact-create'), 'text': 'Contact create'},
{'url': url('general_ledger:file-upload-create'), 'text': 'Upload statement'}]
}]
) }}

{% endblock %}


{% block main %}

<!-- Main Content -->
<div class="main-content-container">
  <div class="container main-content">
    <div class="col-12 col-md-11 mx-auto">
      {% for object in object_list %}
      <div class="row">
        <div class="card">

          <div class="card-header container">
            <div class="row">
              <div class="col">
                {{ object.link|safe }}
              </div>
              <div class="col text-end">
                {% include 'gl/partials/banks/bank-list-item-actions.html.j2' %}
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-10">
                <div id="chart-{{ object.id_id }}"></div>
              </div>
              <div class="col-2 text-end">

                <div class="row text-center">
                  <h5>Balance</h5>
                  <h4>{{ object.get_balance() }}</h4>
                </div>

                <div class="row float-middle float-center text-center">
                  <h5> Unmatched</h5>
                  <h4><a href="{{ url('general_ledger:bank-reconciliation', object.id_id) }}">{{ object.get_unmatched_count() }}</a></h4>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>

  document.addEventListener('DOMContentLoaded', function () {
    {% for object in object_list %}

    createBankStatementChart(
      'chart-{{object.id_id}}',
      '{{object.id_id}}',
      '2024-03-01',
      '2024-09-30'
    );

    {% endfor %}
  });


</script>

{% endblock %}

{% block extrahead %}

<script src="{{ static('gl/js/bank_statement-chart.js') }}"></script>

{% endblock %}

{% block scriptend %}


<!-- Initialize Gridstack -->

<script src="https://cdn.jsdelivr.net/npm/apexcharts/dist/apexcharts.js"></script>


{% endblock %}