{% extends 'gl/base.html.j2' %}

{% block sub_navbar %}
{% endblock %}

{% block main %}
  <h1>Import Preview for {{ bank.name }}</h1>

  <h2>Dry-run Result</h2>
  <p>No errors found. Below is the data that will be imported:</p>

  <form method="post" enctype="multipart/form-data" action="{{ url('general_ledger:bank-statements-import-confirm', bank.pk) }}">
    {% csrf_token %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for row in result.rows %}
        <tr>
          <td>{{ row.date }}</td>
          <td>{{ row.memo }}</td>
          <td>{{ row.amount }}</td>
          <td>{{ row.type }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <button type="submit">Confirm Import</button>
  </form>
{% endblock %}
