{% extends 'gl/generic/generic_detail.html.j2' %}

{% block title %}Bank Detail{% endblock %}

{% block sub_navbar %}
{% with section_title="Bank detail"
%}
{% include 'gl/partials/sub_navbar.html.j2' %}
{% endwith %}
{% endblock %}

{% block main %}
<!-- Main Content -->
<div class="main-content-container">
  <div class="container main-content">
    <div class="row">
      <div class="col-12 col-md-11 mx-auto">
        <div class="card p-4">

          <div class="card-body">

            {{ object.name }}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}