{% extends 'gl/generic/generic_list.html.j2' %}
{% from "gl/macros/subnav.html.j2" import render_subnav %}

{% block title %}Bank Stuff{% endblock %}

{% block sub_navbar %}

{{ render_subnav(
title="Bank Accounts",
menus=[{"header": "Bank Stuff", "items": [
{'url': url('general_ledger:bank-create'), 'text': 'Create Bank'},
{'url': url('general_ledger:invoice-create'), 'text': 'Invoice create'},
{'url': url('general_ledger:contact-create'), 'text': 'Contact create'},
{'url': url('general_ledger:file-upload-create'), 'text': 'Upload statement'}]
}]
) }}

{% endblock %}


{% block main %}

<!-- Main Content -->
<div class="main-content-container">
  <div class="container main-content">
    <div class="col-12 col-md-11 mx-auto">
      {% for object in object_list %}
      <div class="row">

        {% include 'gl/partials/banks/bank-detail-card.html.j2' %}

      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>

  document.addEventListener('DOMContentLoaded', function () {
    {% for object in object_list %}

    renderBankBalanceChart(
      '{{ url("bankbalance-list") }}',
      '#chart-{{object.id}}',
      '{{object.id}}',
      '2010-03-01',
      '{{ inject_today_date() }}'
    );

    {% endfor %}
  });


</script>

{% endblock %}

{% block extrahead %}

{#
<script src="{{ static('gl/js/bank_statement-chart.js') }}"></script> #}
<script src="{{ static('gl/js/bank-balance-chart.js') }}"></script>

{% endblock %}

{% block scriptend %}


<!-- Initialize apexcharts -->

<script src="https://cdn.jsdelivr.net/npm/apexcharts/dist/apexcharts.js"></script>


{% endblock %}