{% extends 'gl/base.html.j2' %}
{% from "gl/macros/subnav.html.j2" import render_subnav %}

{% block title %}Bank Transactions matching{% endblock %}

{% block sub_navbar %}

{{ render_subnav(
title="Bank Accounts",
menus=[{"header": "Bank Stuff", "items": [
{'url': url('general_ledger:bank-create'), 'text': 'Create Bank'},
{'url': url('general_ledger:invoice-create'), 'text': 'Invoice create'},
{'url': url('general_ledger:contact-create'), 'text': 'Contact create'},
{'url': url('general_ledger:file-upload-create'), 'text': 'Upload statement'}]
}]
) }}

{% endblock %}


{% block main %}
<!-- Main Content -->
<div class="main-content-container">
  <div class="container main-content">
    <div class="col-12 col-lg-11 mx-auto">
      <div class="row">
        <div class="card p-4">
          <div class="card-header">
            <h5>Bank Transactions matching</h5>
          </div>
          <div class="card-body">
            <div class="container pb-4">

              <div class="row pb-4">
                <div class="col">
                  <div class="card1">
                    <div class="container">
                      <div class="row">
                        <div class="col-6 border">
                        </div>
                        <div class="col-3 border">
                          Spent
                        </div>
                        <div class="col-3 border">
                          Received
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card1">
                    <div class="container">
                      <div class="row">
                        <div class="col border">
                          Match transactions
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              {% for object in object_list %}

              {% include 'gl/partials/matching/list-item.html.j2' %}

              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {% include 'gl/widgets/list-pagination.html.j2' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block prehead %}
<!-- extrahead contributed by invoice_form.html.j2 -->
{# <script type="module" crossorigin="anonymous" src="{{ static('formset/js/django-formset.js') }}"></script> #}
{#
<script src="{{ url('javascript-catalog') }}"></script> #}
{# <link href="{{ static('formset/css/bootstrap5-extra.css') }}" rel="stylesheet" crossorigin="anonymous"> #}
<!-- end of extrahead contributed by bank_form.html.j2 -->
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{{ static('gl/css/payment_widget.css') }}">
{% for object in object_list %}
{{ object.form.media.css }}
{% break %}
{% endfor %}
{% endblock %}

{% block scriptend %}
{% for object in object_list %}
{{ object.form.media.js }}
{% break %}
{% endfor %}
{% endblock %}