Contact:          {{ invoice.contact }}
Date:             {{ invoice.date }}
Tax Inclusive:    {{ invoice.tax_inclusive }}
Due Date:         {{ invoice.due_date }}
Status:           {{ invoice.status }}
Description:      {{ invoice.description }}