{{ entry.trans_date.strftime('%b  ').ljust(5) }}{{ entry.trans_date.strftime('%-d').rjust(2) }}  {{ entry.get_counter_entry().ljust(26) }}|{% if entry.is_debit %}{{ (("%03.2f"|format(entry.amount))|intcomma).rjust(num_width) }}{% else %}{{ " " * num_width }}{% endif %}|{% if entry.is_credit %}{{ (("%03.2f"|format(entry.amount))|intcomma).rjust(num_width)  }}{% else %}{{ " " * num_width }}{% endif %}|{{ ("%03.2f"|format(entry.running_balance())|string).rjust(num_width) }}
