{% extends 'gl/partials/sub_navbar.html.j2' %}

{% block subnav_right_menu %}
        <!-- Right Aligned Icons -->
        <div class="d-flex">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownNotif" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Bank Stuff
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownNotif">
                <li><a class="dropdown-item" href="{{ url('general_ledger:invoice-create') }}">Invoice</a></li>
                <li><a class="dropdown-item" href="{{ url('general_ledger:bill-create') }}">Bill</a></li>
                <li><a class="dropdown-item" href="{{ url('general_ledger:contact-create') }}">Contact</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <!-- end of Right Aligned Icons -->
{% endblock %}
