{% extends 'gl/base.html.j2' %}

{% block title %}3 col accounts{% endblock %}

{% block main %}

<h1>Three Column Accounts</h1>

<form action="/gl/reports/3_col_accounts/" method="post">
{% csrf_token %}
{{ form }}
    <input type="submit" value="OK">
</form>

<div class="container">
    {% for uuid,account in accounts.items() %}
        {% include 'gl/three_col_accounts_account.html.j2' %}

    {% endfor %}

</div>


{% endblock %}
