<div class="row g-3 align-items-center">
  <div class="col-auto">
    <label for="from_date" class="col-form-label">From:</label>
  </div>
  <div class="col-auto">
    <input type="date" id="from_date" name="from_date" class="form-control" value="{{ from_date }}" required>
  </div>
  <div class="col-auto">
    <label for="to_date" class="col-form-label">To:</label>
  </div>
  <div class="col-auto">
    <input type="date" id="to_date" name="to_date" class="form-control" value="{{ to_date }}" required>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Apply Date Range</button>
  </div>
</div>