<div class="col-md-12">
  <div class="h-100 p-5 bg-light border rounded-3">
    <h2>This invoice is {{ object.status }}</h2>
    {% if invoice.status == 'DR' %}
    this is a draft
    {% elif invoice.status == 'AA' %}
    this has tranctions that are unposted
    {% elif invoice.status == 'AP' %}
    this is waiting for money to show up in the account
    {% elif invoice.status == 'PD' %}
    Its pretty hard to mark this as unpaid now

    {% endif %}


<div class="container mt-3">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>invoice account Details</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Default Sales account for this invoice is</td>
        <td>{{ invoice.get_sales_account() }}</td>
      </tr>
      <tr>
        <td>Default Sales var rate for this invoice is</td>
        <td>{{ invoice.get_sales_vat_rate() }}</td>
      </tr>
      <tr>
        <td>Default Accounts receivable</td>
        <td>{{ invoice.get_accounts_receivable() }}</td>
      </tr>
      <tr>
        <td>Default VAT account</td>
        <td>{{ invoice.get_sales_vat_account() }}</td>
      </tr>
      <tr>
        <td>Sub total</td>
        <td>{{ invoice.subtotal()|curr }}</td>
      </tr>
      <tr>
        <td>Only total_tax</td>
        <td>{{ invoice.total_tax()|curr }}</td>
      </tr>
      <tr>
        <td>total receivabke</td>
        <td>{{ invoice.total_inclusive()|curr }}</td>
      </tr>
    </tbody>
  </table>
</div>



{% set transactions = invoice.transactions.all() %}
{% include 'gl/partials/tx/tx-table.html.j2' %}
  </div>
</div>