<tr>
  <td>{{ invoice.link|safe }}</td>
  <td>{{ invoice.date }}</td>
  <td>{{ invoice.contact.link|safe }}</td>
  <td>{{ invoice.due_date }}</td>
  <td>{{ invoice.description }}</td>
  <td>{{ invoice.total_amount }}</td>
  <td>{{ invoice.status_display }}</td>
  <td>
    stuff ere {{ invoice.link|safe }}
  </td>
</tr>