<div class="grid-stack-item"
     gs-id="grid-item-invoice-card"
     gs-x="{{ layout['grid-item-invoice-card']['x']|default('0') }}"
     gs-y="{{ layout['grid-item-invoice-card']['y']|default('2') }}"
     gs-h="{{ layout['grid-item-invoice-card']['h']|default('2') }}"
     gs-w="{{ layout['grid-item-invoice-card']['w']|default('6') }}"
     gs-min-w="6"
     gs-min-h="2">
    <div class="grid-stack-item-content card">
        <div class="card-header">
            <h5 class="card-title">Invoice Card</h5>
        </div>
        <div class="card-body">
            <p>This is some text Invoice Card 2.</p>
        </div>
    </div>
</div>