<div class="container">
  <div class="row">
    <div class="col-12 invoice-status-container border">
      <div class="invoice-status-badge{% if payment.is_draft() %} invoice-status-draft{% endif %}">{{ DocumentStatus.DRAFT.label }}</div>
      <div class="chevron"></div>
      <div class="invoice-status-badge{% if payment.state == DocumentStatus.RECORDED %} invoice-status-awaiting-approval{% endif %}">
        {{ DocumentStatus.RECORDED.label }}</div>
      <div class="chevron"></div>
      <div class="invoice-status-badge{% if payment.state == DocumentStatus.POSTED %} invoice-status-awaiting-payment{% endif %}">
        {{ DocumentStatus.POSTED.label }}</div>
      <div class="chevron"></div>
      <div class="invoice-status-badge{% if payment.state == DocumentStatus.COMPLETE %} invoice-status-paid{% endif %}">Paid</div>
    </div>
  </div>
</div>