{% extends 'gl/base.html.j2' %}

{% block title %}Stocks{% endblock %}

{% block main %}

<h1>Income Statement</h1>

<form action="{{ url('general_ledger:income_statement') }}" method="get" class="mb-4">
{% csrf_token %}
{% include 'gl/widgets/datepicker.html.j2' %}

</form>

{% endblock %}

{% block scriptend %}

{% endblock %}
