<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Actions
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{{ url('general_ledger:bank-reconciliation', object.id_id) }}">match transactions</a></li>
    <li><a class="dropdown-item" href="#">Upload statement</a></li>
    <li><a class="dropdown-item" href="#">Export transactions</a></li>
  </ul>
</div>