<div class="card">
  <div class="card-header container">
    <div class="row">
      <div class="col">
        {{ object.link|safe }} ({{ object.TYPE_CHOICES[object.type] }})
      </div>
      <div class="col text-end">
        {% include 'gl/partials/banks/bank-list-item-actions.html.j2' %}
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-10">
        <div id="chart-{{ object.id }}"></div>
      </div>
      <div class="col-2 text-end">

        <div class="row text-center">
          <h5>Balance</h5>
          <h4>{{ object.get_balance()|curr }}</h4>
        </div>

        <div class="row float-middle float-center text-center">
          <h5> Unreconciled</h5>
          <h4><a href="{{ url('general_ledger:bank-reconciliation', object.pk) }}">{{ object.get_unreconciled_count()
              }}</a></h4>
          <h5> Unmatched</h5>
          <h4><a href="{{ url('general_ledger:bank-reconciliation', object.pk) }}">{{ object.get_unmatched_count()
              }}</a></h4>
              <h4>Total</h4>
              <p>{{ object.bankstatementline_set.count() }}</p>
        </div>
      </div>
    </div>
  </div>
</div>