{% extends 'gl/base.html.j2' %}

{% block title %}Stocks{% endblock %}

{% block sub_navbar %}
{% with section_title="Bill create"
%}
{% include 'gl/partials/sub_navbar.html.j2' %}
{% endwith %}
{% endblock %}

<h1> this is a page for adding bills - to implement</h1>
