
  <div class="row pb-4">
    <div class="col">
      <div class="card">
        {% include 'gl/partials/matching/source-item.html.j2' %}
      </div>
    </div>
    <div class="col">
      <div class="card">
        {% include 'gl/partials/matching/target-item.html.j2' %}
      </div>
    </div>
  </div>
