<div class="container">
  <div class="row">
    <div class="col-6 border">
      <p>{{ object.date }}</p>
      <p>{{ object.hash }}</p>
      <p>{{ object.ofx_memo }}</p>
    </div>
    <div class="col-3 border d-flex align-items-center text-center align-middle align-center">
      {% if object.get_credit_amount() %}
      £{{ object.get_credit_amount()|floatformat(2) }}
      {% endif %}
    </div>
    <div class="col-3 border d-flex align-items-center  text-center">
      {% if object.get_debit_amount() %}
      <p>£{{ object.get_debit_amount()|floatformat(2) }}</p>
      {% endif %}
    </div>
  </div>
</div>