
  <div class="mb-3">

    {% if object.payments_to.count() or object.payments_from.count() %}
    has payments
    <ul class="potential-match">
    {% for payment in object.get_payments() %}
    {% for payment_item in payment.items.all() %}
    <li>from: {{ payment_item.from_object }}</li>
    <li>to: {{ payment_item.to_object }}</li>
    {% endfor %}
    <a href="{{ url('general_ledger:payment-detail', payment.id) }}">Detail</a> - {{ payment.state }}
        <form class="" method="post" action="{{ url('general_ledger:payment-reconcile', payment.id) }}">
{# <!-- generaeted form content -->
{{ object.form_match.as_div() }}
<!-- end of generated form content --> #}

    {% csrf_token %}
    <input type="hidden" name="promote" value="{{ payment.next_status() }}">
    <input type="hidden" name="prefix" value="form_{{ object.id }}">
  <input type="hidden" name="next" value="{{ request.get_full_path() }}">
      <button type="submit" class="btn btn-primary btn-lg">Go</button>
    </form>
    {% endfor %}


    </ul>
    {% else %}
    no payments
    {% endif %}


  </div>
</form>