<form method="post" action="{{ url('general_ledger:payment-create') }}">
  {% csrf_token %}
  <input type="hidden" name="prefix" value="form_{{ object.id }}">
  <input type="hidden" name="next" value="{{ request.get_full_path() }}">
  <div class="invoice-form-as-table col">
    {{ object.form.as_div() }}
  </div>

  <div class="col">
    <button class="btn btn-primary" type="submit">Go</button>
  </div>
</form>