<form>
  <div class="container p-2">
    <div class="row g-1">
      <div class="col-md">
        {# <div class="form-floating"> #}
          <select class="form-control" id="contact-select-{{ object.id }}" placeholder="name@example.com"
            value="mdo@example.com">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          {# <label for="contact-select-{{ object.id }}">Contact</label> #}
          {#
        </div> #}
      </div>
      <div class="col-md">
        {# <div class="form-floating"> #}
          <select class="form-select" id="account-select-{{ object.id }}" aria-label="Floating label select example"
            placeholder="placeholder text">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          {# <label for="account-select-{{ object.id }}">Account</label> #}
          {#
        </div> #}
      </div>
    </div>
    <div class="row g-1">
      <div class="col-md">
        {# <div class="form-floating"> #}
          <input class="form-control" type="text" placeholder="Transaction description"
            aria-label="default input example" id="description-input-{{ object.id }}">
          {# <label for="description-input-{{ object.id }}">Transaction description</label> #}
          {#
        </div> #}
      </div>
    </div>
    <div class="row g-1">
      <div class="col-10">
        {# <div class="form-floating"> #}
          <select class="form-control" id="vat-select-{{ object.id }}" placeholder="name@example.com"
            value="mdo@example.com">
            <option value="1">20%</option>
            <option value="2">5%</option>
            <option value="3">Vat Exempt</option>
          </select>
          {# <label for="contact-select-{{ object.id }}">Contact</label> #}
          {#
        </div> #}
      </div>

      <div class="col-2">
        <button class="btn btn-primary disabled" type="submit">Go</button>
      </div>
    </div>
  </div>
</form>

<form>
<div class="invoice-form-as-table">
  {{ object.form.as_div() }}
</div>
</form>
