{% extends 'gl/base.html.j2' %}
{% from "gl/macros/subnav.html.j2" import render_subnav %}

{% block title %}Generic Item List{% endblock %}

{% block sub_navbar %}

{{ render_subnav(
title="Bank Accounts",
menus=[{"header": "Bank Stuff", "items": [
{'url': url('general_ledger:bank-create'), 'text': 'Create Bank'},
{'url': url('general_ledger:invoice-create'), 'text': 'Invoice create'},
{'url': url('general_ledger:contact-create'), 'text': 'Contact create'}]
}]
) }}

{% endblock %}

{% block main %}

<!-- Main Content -->
<div class="main-content-container">
  <div class="container main-content">
    <div class="col-12 col-md-11 mx-auto">
      <div class="row">
        <div class="card p-4">
          <div class="card-body">

            <h1> this is a generic view for a list of {{ view.model._meta.verbose_name }} object</h1>

            {% include 'gl/partials/generic/generic-list-display.html.j2' %}


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scriptend %}
<script>
  new DataTable('#generic-list-table', {
    info: true,
    ordering: true,
    paging: true,
    pageLength: 50,
    lengthMenu: [10, 25, 50, 250, { label: 'All', value: -1 }]
  });
</script>
{% endblock %}