{% extends 'gl/base.html.j2' %}

{% block title %}Create Invoice{% endblock %}

{% block sub_navbar %}
{% with section_title="Invoice create"
%}
{% include 'gl/partials/sub_navbar.html.j2' %}
{% endwith %}
{% endblock %}

{% block main %}
<!-- Main Content -->
<div class="main-content-container">
  <div class="container main-content">
    <div class="row">
      <div class="col-12 col-md-11 mx-auto">
        <div class="card p-4">
          <div class="card-body">
            {% if is_update %}
            <h1>Update Invoice</h1>
            {% else %}
            <h1>Create Invoice</h1>
            {% endif %}

            {# {% include 'gl/contact/contact_form_inline.html.j2' %} #}

            <form method="post">
              {% csrf_token %}

              {{ invoice_form.non_field_errors() }}
              <div class="invoice-form-as-table2 row">

                <div class="col-md-3">
                  <div class="container contact-container m-0 p-0">
                    <div class="row">
                      {{ invoice_form["contact"].label_tag() }}
                    </div>
                    <div class="row">
                      <div class="col-md-10">
                        {{ invoice_form["contact"] }}
                      </div>
                      <div class="col-md-2">
                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                {% for field in ["ledger", "description", "invoice_number", "date", "due_date",
                "tax_inclusive"] %}

                <div class="col-md-3">
                  {{ invoice_form[field].label_tag() }}
                  {{ invoice_form[field] }}
                {{ invoice_form[field].errors }}
                </div>
                {% endfor %}


              </div>


              <h2>Invoice Lines</h2>
              {{ formset.management_form }}
              {# <div id="invoice-lines" data-inline-type="tabular" data-inline-formset="{{ fixthing() }}"
                data-inline-name="#items" data-inline-options-prefix="items" data-inline-options-addText="Add One"
                data-inline-options-deleteText="Remove"> #}
                <div id="invoice-lines1" data-inline-type="table">
                  <table id="table-invoice-line-list" class="table table-striped">
                    <thead>
                      <tr>
                        <th>Description</th>
                        <th>quantity</th>
                        <th>unit price</th>
                        <th>VAT Rate</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for form in formset %}
                      <!-- form as table -->
                      {{ form.as_table() }}
                      <!-- end of form as table -->
                      {% endfor %}
                    </tbody>
                  </table>
                  <table id="items-empty" class="invoice-line empty-form">
                    <tbody>
                      {{ formset.empty_form.as_table() }}
                    </tbody>
                  </table>
                </div>

                {% if is_update %}
                <button type="submit">Update</button>
                {% else %}
                <button type="submit">Create</button>
                {% endif %}

                <button type="button" id="add-line" class="btn btn-primary">
                  <i class="fa fa-plus"></i> Add Row
                </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block prehead %}
<!-- prehead contributed by invoice_form.html.j2 -->
<script type="module" crossorigin="anonymous" src="{{ static('formset/js/django-formset.js') }}"></script>
{#
<script src="{{ url('javascript-catalog') }}"></script> #}
<link href="{{ static('formset/css/bootstrap5-extra.css') }}" rel="stylesheet" crossorigin="anonymous">
<!-- end of prehead contributed by invoice_form.html.j2 -->
{% endblock %}

{% block extrahead %}
<!-- extrahead contributed by invoice_form.html.j2 -->
<link rel="stylesheet" href="{{ static('gl/css/invoice_form.css') }}">
{{ invoice_form.media.css }}
<!-- end of extrahead contributed by invoice_form.html.j2 -->

{% endblock %}

{% block scriptend %}

<script src="{{ static('gl/js/invoice_form.js') }}"></script>
<script src="{{ static('gl/js/inlines.js') }}"></script>
{{ invoice_form.media.js }}
<!-- here -->
<script>
  new DataTable('#table-invoice-line-list', {
    info: false,
    ordering: false,
    paging: false,
    responsive: true,
    searching: false
  });
</script>
{% endblock %}