{% extends 'gl/generic/generic_form.html.j2' %}

{% block title %}Invoice{% endblock %}

{% block sub_navbar %}
{% with section_title="Invoice create"
%}
{% include 'gl/partials/sub_navbar.html.j2' %}
{% endwith %}
{% endblock %}

  {% block extrahead %}
  <!-- here -->
	<link crossorigin="anonymous" href="{{ static('testapp/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="screen">
	<link href="{{ static('testapp/css/utils.css') }}" rel="stylesheet" type="text/css" media="screen">
  <!-- end here -->
    {% endblock %}