{% extends 'gl/base.html.j2' %}

{% block title %}Generic object Management{% endblock %}

{% block sub_navbar %}
{% with section_title="INvoice create"
%}
{% include 'gl/partials/sub_navbar.html.j2' %}
{% endwith %}
{% endblock %}

{% block main %}
<!-- Main Content -->
<div class="main-content-container">
  <div class="container main-content">
    <div class="row">
      <div class="col-12 col-md-11 mx-auto">
        <div class="card p-4">
          <div class="card-body">
            <h1>{{ "Create" if add else "Update" }} {{ object_title }}</h1>

            <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
              {{ form_collection }}
               {% include "bootstrap/buttons.html.j2" %}
            </django-formset>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of Main Content -->
{% endblock %}

{% block prehead %}
	<link crossorigin="anonymous" href="{{ static('testapp/css/formset-bootstrap.css') }}" rel="stylesheet" type="text/css" media="screen">
{#
<script src="{{ url('javascript-catalog') }}"></script> #}
<link href="{{ static('formset/css/bootstrap5-extra.css') }}" rel="stylesheet" crossorigin="anonymous">
<!-- end of extrahead contributed by bank_form.html.j2 -->
{% endblock %}

  {% block extrahead %}
  <!-- here -->
  <link crossorigin="anonymous" rel="stylesheet" href="{{ static('gl/css/invoice_form2.css') }}">
	{# <link crossorigin="anonymous" href="{{ static('testapp/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="screen"> #}
	<link href="{{ static('testapp/css/utils.css') }}" rel="stylesheet" type="text/css" media="screen">
<!-- extrahead contributed by invoice_form.html.j2 -->
<script type="module" crossorigin="anonymous" src="{{ static('formset/js/django-formset.js') }}"></script>
  <!-- end here -->
    {% endblock %}