{% extends 'gl/base.html.j2' %}
  {% block navbar %}

  {% include 'gl/partials/navbar.html.j2' %}

  {% endblock %}


{% block main %}
<!-- Main Content -->
<div class="main-content-container">
  <div class="container main-content">
    <div class="row">
      <div class="col-12 col-md-11 mx-auto">
        <div class="card p-4">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <label for="entity">Select Active Book:</label>
              {% if next %}
              <input type="hidden" name="next" value="{{ next|e }}">
              {% endif %}
              <select name="book_pk" id="book">
                {% for book in books %}
                <!-- {{ book.id|string }} -->
                <option value="{{ book.pk }}" {% if book.pk|string==active_book_pk|string %}selected{% endif %}>{{
                  book.name }}</option>
                {% endfor %}
              </select>
              <button type="submit">Set Active</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of Main Content -->
{% endblock %}