/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
  -moz-appearance: textfield !important;
  appearance: none;
} */

.invoice-line-number-field input[type=number],
input[type=number] {
  -webkit-appearance: none !important;
  margin: 0;
  -moz-appearance: textfield !important;
  appearance: none;
}


/* .collection-siblings {
  display: flex;
  justify-content: space-between;
} */